<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Load Builder</title>
    <link rel="stylesheet" href=" {{ url_for('static', filename='bulma/css/bulma.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='fontawesome-free-6.7.2-web/css/all.css') }}">
	<script crossorigin="use-credentials" src="{{ url_for('static', filename='htmx.js') }}"></script>

</head>
<body>
<nav class="navbar" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a class="navbar-item" href="https://bulma.io">
    </a>

    <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>

  <div id="navbarBasicExample" class="navbar-menu">
    <div class="navbar-start">
      <a class="navbar-item" href="/">
        Home
      </a>

      <a class="navbar-item">
        Price Estimation
      </a>
    </div>

    <div class="navbar-end">
		{% block menuButtons %}
		{% endblock %}
	{% if not session["user_id"] %}
      <div class="navbar-item">
        <div class="buttons">
          <a class="button is-light">
            Log in
          </a>
        </div>
      </div>
	{% endif %}
    </div>
  </div>
</nav>
            {% block main %}{% endblock %}
</body>
</html>
